*.zip
*.pth
*.pkl
Model/*
Vocoder/*
dataset/*
datasets/*
Models/*
*.pyc
__pycache__/*
download.ipynb
!dataset/data_maker.py
!dataset/dataset_merger_stats.ipynb
!dataset/emotion_mapping.py
!dataset/mappa.json
